body {
  margin: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ecf0f1;
  min-height: 100px;
}

.svg-inline {
  padding-top: 24px;
}
.amongus {
  width: 400px;
  height: 400px;
  fill: #e74c3c;
  stroke: #f39c12;
  stroke-width: 8px;
  stroke-dasharray: 0 620;
  stroke-dashoffset: 350;
  /* transition-property: stroke-dasharray fill; */
  /* transition-duration: 4s; */
}
.amongus:hover {
  animation-name: roll;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes roll {
  100% {
    /* transform: translateX(200px) rotate(360deg); */
    stroke-dasharray: 620 0;
    /* border-radius: 50%; */
  }
}

/* .rect {
  transition-property: transform;
  transition-duration: 3s;
  transform: translate(20px, 20px);
} */

/* .svg-background {
  height: 100px;
  width: 100px; // установи 80px для пропорции
  background-image: url(amongus-background.svg);
  background-size: cover; // или contain чтобы изображение поместилось полностью
  background-repeat: no-repeat;
} */
