body {
  margin: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ecf0f1;
  min-height: 100px;
}

.amongus {
  width: 256px;
  height: 256px;
  fill: #e74c3c;
  stroke: #f39c12;
  stroke-width: 8px;
}
.amongus__path {
  /* width: 256px; */
  /* height: 256px; */
  /* fill: #e74c3c; */
  /* stroke: #f39c12; */
  /* stroke-width: 8px; */
}

.circle {
  fill: #2ecc71;
  transition-property: fill, transform;
  transition-duration: 0.3s;
}
.circle:hover {
  fill: #e74c3c;
  transform: translateX(300px);
}